<div class="container">
  <div class="col-md-6">
    <h2>Wiki:</h2>
    <%= form_for @wiki do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"  %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 9, class: 'form-control', placeholder: "Enter wiki contents"  %>
        </div>
        <% if user_signed_in? && (current_user.role == 'premium' || current_user.role == 'admin') %>
            <div class="form-group">
              <%= f.label :private, class: 'checkbox' do %>
              <%= f.check_box :private, id: 'private' %> Make Wiki Private
              <% end %>
            </div>
         <% end %>
        <div class="form-group">
          <%= f.submit "Preview Wiki", class:'btn btn-success' %>
        </div>
        <% if user_signed_in? && (current_user.role == 'premium' || current_user.role == 'admin') && @wiki.private%>
            <%= render partial: 'collaborators/form', locals: {wiki_id: @wiki.id} %>
        <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @wiki.title && @wiki.body %>
      <h2>Preview Wiki:</h2>
      <div class="wiki-preview">
        <h3><%= @wiki.title %></h3>
        <p>Last Updated <%= @wiki.updated_at %></p>
        <p><%= markdown(@wiki.body) %></p>
      </div>
      <%= link_to "Finish Editing", wikis_path, :class => 'btn' %>
    <% end %>
    <table>
      <tr>
        <th>Style</th>
        <th>Markdown Syntax</th>
      </tr>
      <tr>
        <td>Autolink</td>
        <td>< ></td>
      </tr>
      <tr>
        <td>Bold</td>
        <td>**word**</td>
      </tr>
      <tr>
        <td>Heading</td>
        <td>###heading</td>
      </tr>
      <tr>
        <td>Small Heading</td>
        <td>####heading</td>
      </tr>
      <tr>
        <td>Image</td>
        <td>![](url)</td>
      </tr>
      <tr>
        <td>Italics</td>
        <td>_word_</td>
      </tr>
      <tr>
        <td>Bullet List</td>
        <td>* or -</td>
      </tr>
      <tr>
        <td>Numbered List</td>
        <td>1. 2. 3.</td>
      </tr>
    </table>
  </div>
</div>


